html,body{
    font-size:125%;
    font-size: 20px;
}
body{
    font-family: '微软雅黑';
    width: 100%;
    background:#f8f8f8;
    background-size: cover;
}

.row{
    text-align: center;
    vertical-align: middle;
    margin:20% 0 0 0;
    width: 100%;
}
.good-container{
    padding: 0;
}
.container .phoneN {
    border-bottom: 0.1rem solid #ededed;
    border-top: 0.1rem solid #ededed;
    background: #fff;
    line-height: 2rem
}
.container input.vali.mobile {
    border: none;
    outline:medium;
    padding-left: 0.5rem;
    font-size: 0.8rem;
}
.container .row .number{
    margin-bottom: 0;
    font-weight: 100;
    color: #6cd4b5;
    font-size: 0.9rem;
    padding-right: 0.6rem;
    border-right: 0.1rem solid #f0f0f0;
}
.container .Validate {
    margin-top: 1rem;
    padding: 0 0.8rem 0 0.9rem;
    font-size: 0.8rem;
}
.container .Validate .Validate_member{
    line-height: 1rem;
}
.container .gain {
    padding: 0 0.8rem 0 0.9rem;
    text-align: center;
    line-height: 2rem;
    margin-top: 10%;
}
.container .verification_code {
    /*background:#45c9a2;*/
    background-color: #e9ebec;
    border-radius: 0.3rem;
    color: #fff;
}





